PORT=4242
API_KEY=

MP3_DOWNLOAD_DIR=./mp3
COVER_DOWNLOAD_DIR=./cover

REDIS_PASSWORD=mypassword
REDIS_URL=redis://:mypassword@redis:6379

BASE_URL=https://api.truandradio.fr

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=