# Server Configuration
NODE_ENV=production
PORT=4242
API_KEY=
BASE_URL=https://api.truandradio.fr
LOG_LEVEL=info

# Storage Configuration
STORAGE_PATH=/app/storage
AUDIO_DOWNLOAD_DIR=/app/storage/music/tracks
COVER_DOWNLOAD_DIR=/app/storage/music/covers

# Redis Configuration
REDIS_PASSWORD=mypassword
REDIS_URL=redis://:mypassword@localhost:6379

# Spotify API (Required for Spotify/Deezer/Apple Music metadata)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=