PORT=3000
API_KEY=

MP3_DOWNLOAD_DIR=./mp3
COVER_DOWNLOAD_DIR=./cover

REDIS_PASSWORD=secret
REDIS_URL=redis://:secret@localhost:6379

BASE_URL=https://api.website.com

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=